@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Pridi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.about-hero {
    background-position: center;
    background-size: cover;
    background-image: url('images/abut-hero.jpg');
    font-family: 'Ubuntu', sans-serif;
    height: 500px;
    padding-top: 150px;
  }

  .about-content-heading{
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
  }

  .icon{
    font-family: 'Monoton', cursive;
  }
  .about-heading h2{
    
 
   font-weight: 700;
    font-size: 46px;
    color: white;
    font-family: 'Ubuntu', sans-serif;

    padding: 10px;

    
   
    
  }
  
  .about-heading h5{
    

    font-size: 24px;
    color: black;
    font-weight: 400;
    color: orange;
    padding: 10px;
    
   
    
  }
  
