


@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Pridi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
  scroll-behavior: smooth;
}

.navigation .navbar-brand{
    font-family: 'Monoton', cursive;
    color: orange;
    font-size: 26px;
    transition: 0.2s;

}

.navigation .navbar-brand:hover{
    color: orange;


}

.navigation .navigation-bg{
    background-color: #222725;
}

.navigation .nav-link{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.10em;
    transition: 0.2s;
}
.navigation .nav-link:hover{
  color: orange;
 
}

.navigation .nav-link .active{
  color: orange;
}

.animated-icon1 {
    width: 30px;
    height: 20px;

    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  .animated-icon1 span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  .animated-icon1 span {
    background: orange;;
  }

  
.animated-icon1 span:nth-child(1) {
    top: 0px;
   }
   
   .animated-icon1 span:nth-child(2) {
     top: 10px;
   }
   
   .animated-icon1 span:nth-child(3) {
     top: 20px;
   }
   
   .animated-icon1.open span:nth-child(1) {
     top: 11px;
     -webkit-transform: rotate(135deg);
     -moz-transform: rotate(135deg);
     -o-transform: rotate(135deg);
     transform: rotate(135deg);
   }
   
   .animated-icon1.open span:nth-child(2) {
     opacity: 0;
     left: -60px;
   }
   
   .animated-icon1.open span:nth-child(3) {
     top: 11px;
     -webkit-transform: rotate(-135deg);
     -moz-transform: rotate(-135deg);
     -o-transform: rotate(-135deg);
     transform: rotate(-135deg);
   }
   
  .contact-button{
    text-decoration: none;
    color: orange;
    border: 2px solid orange;
    border-radius: 4px;
    padding: 10px;
    transition: 0.2s;
  }

  .contact-button:hover{
    text-decoration: none;
    background-color: orange;
    color: #222725;
  }

/*Back to top Button*/
#scroll {
  position:fixed;
  right:20px;
  bottom:20px;
  cursor:pointer;
  width:50px;
  height:50px;
  background-color:orange;
  text-indent:-9999px;
  display:none;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  border-radius:60px
}
#scroll span {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-8px;
  margin-top:-12px;
  height:0;
  width:0;

  border:8px solid transparent;
  border-bottom-color:#fff;
}
#scroll:hover {
  background-color:#222725;
  
  opacity:1;filter:"alpha(opacity=100)";
  -ms-filter:"alpha(opacity=100)";
}
  
/* Preloader */
.container-preloader {
	align-items:center; cursor:none; display:flex; height:100%;
  justify-content:center; position:fixed; left:0; top:0; width:100%; z-index:900;
  
}
.container-preloader .animation-preloader {
	position:absolute; z-index: 100;}
/* Spinner Loading */
.container-preloader .animation-preloader .spinner {
  animation: spinner 1s infinite linear;
	border-radius: 50%;  border: 10px solid rgba(0, 0, 0, 0.2);
  border-top-color: orange; /* It is not in alphabetical order so that you do not overwrite it */
  height: 9em;  margin: 0 auto 3.5em auto; width: 9em;
}
/* Loading text */
.container-preloader .animation-preloader .txt-loading {
  font: bold 5em 'Montserrat', sans-serif;
	text-align: center;	user-select: none;
}
.container-preloader .animation-preloader .txt-loading .characters:before {
  animation: characters 4s infinite;  
  color: orange;
  content: attr(preloader-text);  left: 0;
  opacity: 0;  position: absolute;  top: 0;
  transform: rotateY(-90deg);
}
.container-preloader .animation-preloader .txt-loading .characters {
	color: rgba(0, 0, 0, 0.2);	position: relative;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(2):before {
  animation-delay: 0.2s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(3):before {
  animation-delay: 0.4s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(4):before {
  animation-delay: 0.6s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(5):before {
  animation-delay: 0.8s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(6):before {
  animation-delay: 1s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(7):before {
  animation-delay: 1.2s;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(8):before {
  animation-delay: 1.4s;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(9):before {
  animation-delay: 1.6s;
}


.container-preloader .animation-preloader .txt-loading .characters:nth-child(10):before {
  animation-delay: 1.8s;
}


.container-preloader .animation-preloader .txt-loading .characters:nth-child(11):before {
  animation-delay: 2.0s;
}


.container-preloader .animation-preloader .txt-loading .characters:nth-child(12):before {
  animation-delay: 2.2s;
}


.container-preloader .animation-preloader .txt-loading .characters:nth-child(13):before {
  animation-delay: 2.4s;
}


.container-preloader .animation-preloader .txt-loading .characters:nth-child(14):before {
  animation-delay: 2.6s;
}


.container-preloader .animation-preloader .txt-loading .characters:nth-child(15):before {
  animation-delay: 2.8s;
}




.container-preloader .loader-section {
  background-color: #222725;  height: 100%;
  position: fixed;  top: 0;  width: calc(50% + 1px);
}
.container-preloader .loader-section.section-left {
  left: 0;
}
.container-preloader .loader-section.section-right {
  right: 0;
}
/* Fade effect on loading animation */
.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}
/* Curtain effect */
.loaded .loader-section.section-left {
  transform: translateX(-101%);
  transition: 0.9s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}
.loaded .loader-section.section-right {
  transform: translateX(101%);
  transition: 0.9s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}
/* Animation of the preloader */
@keyframes spinner {
to {
	transform: rotateZ(360deg);
}}
/* Animation of letters loading from the preloader */
@keyframes characters {
  0%,
  75%,
  100% {
 opacity: 0;
 transform: rotateY(-90deg);
  }
  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }}
/* Laptop size back (laptop, tablet, cell phone) */
@media screen and (max-width: 767px) {
	/* Preloader */
	/* Spinner Loading */	
	.container-preloader .animation-preloader .spinner {
	height: 8em;
	width: 8em;
	}
	/* Text Loading */
	.container-preloader .animation-preloader .txt-loading {
	  font: bold 3.5em 'Montserrat', sans-serif;
	}}
@media screen and (max-width: 500px) {
	/* Prelaoder */
	/* Spinner Loading */
	.container-preloader .animation-preloader .spinner {
	height: 7em;
	width: 7em;
	}
	/*Loading text */
	.container-preloader .animation-preloader .txt-loading {
	  font: bold 2em 'Montserrat', sans-serif;
	}}
.origin{text-decoration:none;
font-size:45px;}


/* Sidebar contact*/

.sidebar-contact{
  position:fixed;
  top:70%;
  left:-350px;
  transform:translateY(-50%);
  width:350px;
  height:auto;
  padding:40px;
  background:black;
  border: 2px solid orange;
  /*box-shadow: 0 20px 50px rgba(0,0,0,.5);*/
  box-sizing:border-box;
  transition:0.5s;
}
.sidebar-contact.active{
  left:0;
}
.sidebar-contact input,
.sidebar-contact textarea{
  width:100%;
  height:36px;
  padding:5px;
  margin-bottom:10px;
  box-sizing:border-box;
  border:1px solid rgba(0,0,0,.5);
  outline:none;
}
.sidebar-contact h2{
  margin:0 0 20px;
  padding:0;
}
.sidebar-contact textarea{
  height:60px;
  resize:none;
}
.sidebar-contact input[type="submit"]{
  background:orange;
  color:#000;
  cursor:pointer;
  border:none;
  font-size:18px;
}
.toggle{
  position:absolute;
  height:58px;
  width:58px;
  text-align:center;
  cursor:pointer;
  background:black;
  border: 3px solid orange;
 
  top:0;
  right:-58px;
  line-height:58px;
}
.toggle:before{
  content:'\f003';
  font-family:fontAwesome;
  font-size:38px;
  color:orange;
}
.toggle.active:before{
  content:'\f00d';
}
@media(max-width:768px)
{
  .sidebar-contact{
    width:100%;
    height:100%;
    left:-100%;
  }
  .sidebar-contact .toggle{
    top:50%;
    transform:translateY(-50%);
    transition:0.5s;
  }
  .sidebar-contact.active .toggle
  {
    top:0;
    right:0;
    transform:translateY(0);
  }
  .scroll{
    width:100%;
    height:100%;
    overflow-y:auto;
  }
  .content{
    padding:50px 50px;
  }
}

/*Main section*/
.hero{
  width: 100%;
  height: 100vh;
}

/*About Section*/
.about-section{
  padding-top: 40px;
padding-bottom: -40px;
background-color: #000;

  
 
}


.about-head h2{
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;

  
}
h2 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: orange;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.about-head h2:before {
  width: 28px;
  height: 8px;
  border-radius:20px ;
  display: block;
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  margin-left: -14px;
  background-color: orange;
}
.about-head h2:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: orange;
}


.about-cube-text{
  
  color: #222725;
  background-color: orange;
  border: 2px solid orange;
  font-size: 20px;
  padding: 5px;
}

.about-text{
  padding-top: 100px;
  font-family: 'Roboto', sans-serif;
  text-align: center;

}

.about-text p{
  font-size: 30px;
  padding-bottom:30px ;
  color: orange;
}

.cube h3{
  text-transform: uppercase;
}

.read-more{
  text-decoration: none;
  border: 2px solid orange;
  color: #222725;
  background-color: orange;
  padding: 14px;
  transition: 0.2s;
}

.read-more i{
  font-size: 20px;
  vertical-align:middle;
  padding: 5px;
}

.read-more:hover{
  text-decoration: none;
  background-color: #fff;
  color: #222725;
}




#cube-container {
	width: 240px;
	height: 240px;
	margin: 80px 40px auto;
	perspective: 800px;			
}

#cube-container:before {
	content: '';
  position: absolute; 
	top: 90px;
	left: 0;
	width: 100%; 
	height: 100%;	
 
	
}

.cube {	
	height: 100%;
	width: 100%;
	position: relative;
	transform-style: preserve-3d;		

	transition: all 0.8s ease-in-out;		
	animation: rotate 16s infinite;	
}



.cube .box {
	position: absolute;
	width: 240px;
	height: 240px;
  background: white;		
 	
}

 .box img {

	width: 240px;
	height: 220px;
	
 	
}

.cube .box:nth-child(1) {
	transform: rotateY(0deg) translateZ(120px);
}
.cube .box:nth-child(2) {
	transform: rotateY(90deg) translateZ(120px);
}
.cube .box:nth-child(3) {
	transform: rotateY(-90deg) translateZ(120px);
}
.cube .box:nth-child(4) {
	transform: rotateY(180deg) translateZ(120px);
}

@keyframes rotate {
	0% { transform: rotateY(0deg); }		
	25% { transform: rotateY(90deg); }		
	50% { transform: rotateY(180deg);}	
	75% {  transform: rotateY(270deg); }	
	100% { transform: rotateY(360deg); }
}
 

/*Products Section*/
.products-section{
  padding-top: 50px;
  padding-bottom: 50px;
}


.section-products {
  padding: 80px 0 54px;
}

.section-products .header {
  margin-bottom: 50px;
}

.section-products .header h3 {
  font-size: 1rem;
  color: orange;
  font-weight: 500;
}

.section-products .header h2 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #444444; 
}

.section-products .single-product {
  margin-bottom: 26px;
}

.section-products .single-product .part-1 {
  position: relative;
  height: 290px;
  max-height: 290px;
  margin-bottom: 20px;
  overflow: hidden;
}

.section-products .single-product .part-1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
  transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
  background: url("images/carpet.jpg") no-repeat center;
  background-size: cover;
  transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
  background: url("images/thumb.jpg") no-repeat center;
  background-size: cover;
}

.section-products #product-3 .part-1::before {
  background: url("images/laminate.jpg") no-repeat center;
  background-size: cover;
}

.section-products #product-4 .part-1::before {
  background: url("images/oak-laminate-flooring.jpg") no-repeat center;
  background-size: cover;
}


.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #ffffff;
  background-color: #fe302f;
  padding: 2px 8px;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
  left: 0;
  background-color: #444444;
}

.section-products .single-product .part-1 ul {
  position: absolute;
  bottom: -41px;
  left: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
  bottom: 30px;
  opacity: 1;
}

.section-products .single-product .part-1 ul li {
  display: inline-block;
  margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  color: #444444;
  text-align: center;
  box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
  transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
  color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
  font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
  display: inline-block;
  font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
  position: relative;
  padding: 0 7px;
  margin-right: 2px;
  opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #444444;
  transform: translateY(-50%);
}
/**/
.card-wrapper{
  max-width: 700px;
  margin: 0 auto;
  margin-top: 10px;


}

.pro-but{
  text-decoration: none;
  background-color: orange;
  border: 2px solid orange;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
}
.pro-but:hover{
  background-color:#fff;
  color: orange;
  text-decoration: none;

}
img{
  width: 100%;
  display: block;
}
.img-display{
  overflow: hidden;
}
.img-showcase{
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
.img-showcase img{
  min-width: 100%;
}
.img-select{
  display: flex;
}
.img-item{
  margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
  margin-right: 0;
}
.img-item:hover{
  opacity: 0.8;
}
.product-content{
  padding: 2rem 1rem;
}
.product-title{
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}
.product-title::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
}
.product-link{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}
.product-link:hover{
  opacity: 0.9;
}
.product-rating{
  color: #ffc107;
}
.product-rating span{
  font-weight: 600;
  color: #252525;
}
.product-price{
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}
.product-price span{
  font-weight: 400;
}
.last-price span{
  color: orange;
  text-decoration: line-through;
}
.new-price span{
  color: #256eff;
}
.product-detail h2{
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}
.product-detail p{
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}
.product-detail ul{
  margin: 1rem 0;
  font-size: 0.9rem;
}
.product-detail ul li{
  margin: 0;
  list-style: none;
  background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}
.product-detail ul li span{
  font-weight: 400;
}
.purchase-info{
  margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}
.purchase-info input{
  width: 60px;
}
.purchase-info .btn{
  cursor: pointer;
  color: #fff;
}
.purchase-info .btn:first-of-type{
  background: #256eff;
}
.purchase-info .btn:last-of-type{
  background: #f64749;
}
.purchase-info .btn:hover{
  opacity: 0.9;
}
.social-links{
  display: flex;
  align-items: center;
}
.social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #000;
  border: 1px solid #000;
  margin: 0 0.2rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s ease;
}
.social-links a:hover{
  background: #000;
  border-color: transparent;
  color: #fff;
}

@media screen and (min-width: 992px){
  .card-wrapper .card{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;
  }
  .card-wrapper{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .product-imgs{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .product-content{
      padding-top: 0;
  }
}

.view{
  padding-top: 40px;
}
/*contact section*/

.contact-section{
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #000;
}

.mail-icon{
 
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  background-color: white;
  color: black;
 
  transition: 0.3s;
}
.mail-icon:hover{
  text-decoration: none;
  background-color: orangered;
  color: #000;

}

.call-icon{
 
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;

  background-color: white;
  color: black;
  
  transition: 0.3s;
}
.call-icon:hover{
  text-decoration: none;
  background-color: orangered;
  color: #000;
}

.contact-link .card{
  background-color: orange;
}


/*Footer Section*/

/*.footer-section{
 
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: black;
  
}


.footer-box{
 padding: 20px;

}

.footer-box p{
  color: #fff;
}

.footer-line{
border: 1px solid #838383;
margin-left: 100px;
margin-right: 100px;
}

.footer-text{
  color: orange;
}

.footer-nav li{
  list-style-type: none;
  color:orange;
}*/

.footer-section {
  background: #151414;
  position: relative;
}

.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}

.footer-logo a{
  font-family: 'Monoton', cursive;
  color: orange;
  font-size: 26px;
  text-decoration: none;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: orange;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: orange;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: orange;
  text-decoration: none;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: orange;
  text-decoration: none;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}


/*products page*/
/*-----------------------------------
         Owl content styling
-----------------------------------*/
.slide-content {
  position: absolute;
  right: 0;
  top: 35%;
  width: 45%;
  height: 300px;
  padding: 70px 70px 0;
  text-align: center;
/*   transform: translate(-50%,-50%) rotate3d(1, 0, 0, -90deg); */
  transform-origin: top;
  background-color: rgba(0,0,0,.6);
/*   -webkit-clip-path: polygon(0 0 , 100% 0 , 90% 100% , 10% 100% ); */
  color: #fff;
/*   font-size: 2em; */
}
.slide-content, 
.slide-content h3,
.slide-content h2,
.slide-content p,
.slide-content h3:before,
.slide-content h3:after {
  transition: all 2s ease;
}
.slide-content h3 {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: orange;
  font-weight: 900;
 outline-color: #000;
/*   transform: translate3d(-100%, 0,1px); */
}
.slide-content h3:before,
.slide-content h3:after {
  content: '';
  display: block;
  width: 70px;
  height: 2px;
  position: absolute;
  top: 49%;
  background-color: orange;
  font-weight: 900;
}
.slide-content h3:before {
  left: -90px;
/*   transform: translate3d(-700%, 0, 1px) */
}
.slide-content h3:after {
  right: -90px;
/*   transform: translate3d(700%, 0, 1px) */
}
.slide-content h2 {
  color: #f9f9f9;
/*   font-size: 1.3em; */
  margin-top: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
/*   transform: translate3d(100%, 0,1px); */
}
.slide-content p {
/*   font-size: .6em; */
/*   padding: 0 190px; */
  line-height: 1.4em;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: rgba(255,255,255,.8);
/*   transform: translate3d(0, 400%,1px); */
}
/* animate content */
.owl-item.active .slide-content {
  transform: translate(-20%, 0%) rotate3d(1, 0, 0, 0);
  transition-delay: .7s
}
.owl-item.active h3,
.owl-item.active h2,
.owl-item.active p,
.owl-item.active h3:before,
.owl-item.active h3:after {
  transform: translate3d(0, 0,1px);
  transition-delay: 1s
}

/* previus/next slider control container */
.owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-80px);
  left: 0;
  right: 0;
	opacity: 0;
	transition: all .3s;
}

/* previus/next slider control*/
.owl-prev,
.owl-next {
    width: 200px;
    height: 100px;
    line-height: 70px;
    position: absolute;
    top:50%;
    transform: translateY(50%);
/*     border-radius: 4px; */
    overflow: hidden;
    transition: all 1s ease
}

/* previus slider control*/
.owl-prev { 
    left: 10px;
}
/* next slider control*/
.owl-next { 
    right: 10px; 
}
/* slider controls thump image and icon */
.owl-prev-thump,
.owl-prev-icon,
.owl-next-thump,
.owl-next-icon {
    height: 100%;
}
/* slider controls thump image */
.owl-prev-thump,
.owl-next-thump {
    width: 100%;
    background-size: cover;
    transition: all 1s ease-in-out;
    image-rendering: -webkit-optimize-contrast;
}
/* slider previous/next controls icon */
.owl-prev-icon,
.owl-next-icon {
    width: 40%;
		height: 100%;
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
		padding-top: 8%;
    text-align: center;
    transition: all 1s ease;
}
/* slider previous/next fontawsome icon */
.owl-prev-icon:before,
.owl-next-icon:before {
    font-family: FontAwesome;
    color: rgba(255,255,255,.7);
    font-size: 30px;
    transition: all 1s ease
}
/* left arrow */
.owl-prev-icon:before {
    content: '\f104';
}
/* right arrow */
.owl-next-icon:before {
    content: '\f105';
}

.owl-prev-icon {left: 0;}
.owl-next-icon {right: 0}

/*-----------
  nav hover
------------*/
/* prevent animation when disabling loop mode 
.owl-next:not(.disabled):hover
*/
.owl-prev:hover,
.owl-next:hover {
    animation: navShadow 4s ease-in-out infinite;
}
.owl-prev:hover .owl-prev-icon,
.owl-next:hover .owl-next-icon {
    width: 25%;
}

@keyframes navShadow {
    0%, 100% {box-shadow: 0px 0px 1px 0 #f1f1f1;}
    50% {box-shadow: 0px 0px 5px 0 #f1f1f1}
}

.owl-prev.disabled:hover , 
.owl-next.disabled:hover {
  animation: none;
}
.owl-prev.disabled:hover .owl-prev-icon, 
.owl-next.disabled:hover .owl-next-icon {
  width: 50%;
}

#owlCarousel, 
.owl-stage-outer, 
.owl-stage,
.owl-item-bg,
.owl-item { 
  height:600px;
  min-height: 400px;
}

#owlCarousel{
  width: 100%;
  overflow: hidden;
  position: relative;
}
#owlCarousel:hover .owl-nav{
	opacity: 1;
}
/* slider container */
.owl-item {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
/*     -webkit-transform: translateZ(0) scale(1.0, 1.0); */
}
.owl-item .owl-item-bg {
  width: 100%;
  display: inline-block;
  position: relative;
  background-size: 100% 100%;
  background-position: center center;
}
